html {
  font-family: 'Open Sans', sans-serif;
  background-color: #eee;
  color: #333;
/*  padding: 1.75em;*/
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}
*:before, *:after {
  box-sizing: inherit;
}

.demo {
  max-width: 1000px;
  min-width: 710px;
  height: 340px;
  border: solid 5px #2B547E;
  padding: 1em;
  font-size: 1em;
  margin: 0 auto;
  margin-top: 2em;
  position: relative;
}

code {
  background-color: white;
  padding: 2px;
}

.explanation {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 2em;
  border-top: solid 3px;
  padding-top: 1em;
}


 .container {
  max-width: 600px;
  background-color: black;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
.container div {
  background-color: white;
  width: 100%;
  display: inline-block;
  display: none;
}
.container img {
  width: 100%;
  height: auto;
}

button {
  position: absolute;
}

.next {
  right: 5px;
}

.prev {
  left: 5px;
}