
.container {
  font-weight: bold;  
  float: right;  
  width:400px;
  margin-top: auto;
  margin-left:400px;
  margin-right: 4%;
  height: auto;
  }
.reg_section {
  padding:0;
  margin: 10px 0;
  border-bottom:hidden;
}

/* Form */
.register {
  position: relative;
  margin-top:20px;
  padding: 20px 20px 20px;
  background: #fff;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
}
.register:before {
  content: '';
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  z-index: -1;
  background:rgba(255, 173, 200, 0.08);
  border-radius:7px;
  -webkit-border-radius: 7px;
}


.register input[type=text], .register input[type=password]{
  width: 300px;
}

input {
  font-family:"Trebuchet MS",tahoma;
  font-size: 14px;
}

input[type=text],input[type=number],.register select{
  margin: 5px;
  padding: 0 10px;
  height: 34px;
  color: #404040;
  background:white;
  border-width: 1px;
  border-style: solid;
  border-color: #c4c4c4 #d1d1d1 #d4d4d4;
  border-radius:3px;
  margin:10px 0;
}

/* used whilst typing up in textboxes*/
input[type=text]:focus{
  border-color:#FFF7F9;
  outline-color:rgba(254, 225, 235, 0.7);
  outline-offset: 0;
}
/* css for button*/
input[type=submit] {
  padding:0 10px;
  height: 30px;
  font-size: 12px;
  font-weight: bold;
  color:#FFFFFF;
  border-color:#693647;
  border-radius: 7px 7px 7px 7px;
  box-sizing: content-box;
  background-color: #7D0F33;
}

fieldset
{
  border-width: 1px;
  border-style: solid;
  border-color: #c4c4c4 #d1d1d1 #d4d4d4;
  border-radius:3px;
}
legend
{
    font-size: 24px;
}

/*  css for buttons used in admin page */
.button{
  padding:0 10px;
  height: 30px;
  font-size: 12px;
  font-weight: bold;
  color:#FFFFFF;
  border-color:#693647;
  border-radius: 7px 7px 7px 7px;
  box-sizing: content-box;
  background-color: #7D0F33;
}


table {
  width: auto;
  max-width: 80%;
  height:auto;
  border-collapse: collapse;
  border: 2px solid #38678f;
  margin: 50px auto;
 
}
th {  
  font-weight:bold;
  text-shadow: 0 1px 0 #38678f;
  background:#2B547E;
  border: 1px solid #38678f;
  box-shadow: inset 0px 1px 2px #568ebd;
  padding: 10px;
}
tr {
  border-bottom: 1px solid #cccccc;
  
}
td {
  border-right: 1px solid #cccccc;
  padding: 10px;
  background: white;
}